{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="main">
  <h1 class="statement"><span>Register</span> Yourself</h1>
  <form action="" id="userDetails">
    {{!-- <input type="text" name="uname" id="" placeholder="username">
    <input type="text" name="address" id="" placeholder="address"> --}}
    {{!-- <h2>User Registeration</h2> --}}
    <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">Username</label>
    </div>
    <label class="form-label" for="address">Address</label>
   <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">Block</label>
    </div>
   <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">Street</label>
    </div>
   <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">City</label>
    </div>
   <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">State</label>
    </div>
   <div class="form-outline">
      <input type="text" id="uname" class="form-control border border-info" />
      <label class="form-label ps-2 pe-2 " for="uname">Country</label>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>