{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
{{#if showAlert}}
<script>
    alert('{{ msg }}')
</script>
{{/if }}

<div class="main">
    <h1 class="statement"><span>Register</span> Yourself</h1>
    <form action="/submit" id="userDetails" method="post">
        {{!-- <input type="text" name="uname" id="" placeholder="username">
        <input type="text" name="address" id="" placeholder="address"> --}}
        {{!-- <h2>User Registeration</h2> --}}
        <div>
            <div>
                <div class="name">
                    <div class="formElement">
                        <input type="text" id="fname" name="fname" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="fname">First name</label>
                    </div>
                    <div class="formElement">
                        <input type="text" id="lname" name="lname" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="lname">Last name</label>
                    </div>
                </div>
                <div>
                    <div class="formElement">
                        <input type="email" id="email" name="email" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="email">Email</label>
                    </div>
                    <div class="formElement">
                        <input type="number" id="age" name="age" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="age">Age</label>
                    </div>
                </div>
                <div>
                    <div class="formElement">
                        <input type="number" id="phnno" name="phnno" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="phnno">Phone number</label>
                    </div>
                </div>
            </div>
            <input type="number" name="addressCount" id="addressCountInput" value="1" hidden>
            <div class="addressDiv">
                <div>
                    <h6>Address 1</h6>
                    <i onclick="addAddress(event)" class="fas fa-circle-plus"></i>
                </div>
                <div>
                    <div class="formElement">
                        <input type="text" id="block1" name='block1' class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="block1">Block</label>
                    </div>
                    <div class="formElement">
                        <input type="text" id="street1" name="street1" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="street1">Street</label>
                    </div>
                </div>
                <div>
                    <div class="formElement">
                        <input type="text" id="city1" name="city1" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="city1">City</label>
                    </div>
                    <div class="formElement">
                        <input type="text" id="state1" name="state1" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="state1">State</label>
                    </div>
                    <div class="formElement">
                        <input type="text" id="country1" name="country1" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2" for="country1">Country</label>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>