{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="main">
    <h1 class="statement"><span>Register</span> Yourself</h1>
    <form action="" id="userDetails">
        {{!-- <input type="text" name="uname" id="" placeholder="username">
        <input type="text" name="address" id="" placeholder="address"> --}}
        {{!-- <h2>User Registeration</h2> --}}
        <div>
            <div>
                <div class="name">
                    <div class="form-outline">
                        <input type="text" id="fname" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="fname">First name</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="lname" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="lname">Last name</label>
                    </div>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="email" id="email" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="email">Email</label>
                    </div>
                    <div class="form-outline">
                        <input type="number" id="phnno" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="email">Phone number</label>
                    </div>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="number" id="age" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="age">Age</label>
                    </div>
                </div>
            </div>
            <div class="addressDiv">
                <div>
                    <h6>Address 1</h6>
                    <i onclick="addAddress(event)" class="fas fa-circle-plus"></i>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="text" id="block" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="block">Block</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="street" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="street">Street</label>
                    </div>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="text" id="city" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="city">City</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="state" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="state">State</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="country" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2" for="country">Country</label>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<script>
    let ids = ['fname', 'lname', 'email', 'phnno', 'age', 'street', 'block', 'city', 'state', 'country']
    for (let i in ids) {
        console.log(ids[i])
        document.getElementById(ids[i]).addEventListener('focusin', (e) => {
            console.log("focus in")
            //console.log(`#${ids[i]}`)
            document.querySelector(`#${ids[i]} ~ label`).style.background = (e.target.value) ? "transparent" : "white"
        })
        document.getElementById(ids[i]).addEventListener('focusout', (e) => {
            console.log("focus out")
            console.log(`#${ids[i]}`)
            document.querySelector(`#${ids[i]} ~ label`).style.background = (e.target.value) ? "white" : "transparent"
        })
    }

    let addressCount = 1
    const addAddress = (e) => {
        if (addressCount < 3) {
            console.log(addressCount)
            let div = document.querySelector('form>div')
            const addressDiv = document.createElement('div');
            addressDiv.className = 'addressDiv';
            addressDiv.innerHTML = `
                    <h6>Address ${++addressCount}</h6>
                <div>
                    <div class="form-outline">
                        <input type="text" id="block" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="block">Block</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="street" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="street">Street</label>
                    </div>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="text" id="block" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="block">Block</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="street" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="street">Street</label>
                    </div>
                </div>
                <div>
                    <div class="form-outline">
                        <input type="text" id="city" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="city">City</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="state" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2 " for="state">State</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" id="country" class="form-control border border-info" />
                        <label class="form-label ps-2 pe-2" for="country">Country</label>
                    </div>
                </div>
                `
            div.appendChild(addressDiv)
        }
        if (addressCount == 3) {
            console.log(e.target)
            e.target.style.display = "none"
        }
    }
</script>